.selectCategory1 {
  margin: 50px 25px;

}
.selectCategory1 label,
.selectBranch label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
}
.selectBranch {
  margin: 90px 350px -120px;
}

.selectCategory1 select,
.selectBranch select {
  margin: 15px;
  padding: 5px;
  border-radius: 6px;
}
.add-category-1{
    font-size: 20px;
}
.add-category-1 i{
    background: #136af2;
}
